@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #f3f4f6;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #22c55e;
  box-shadow: 0 0 8px rgba(34, 197, 94, 0.6);
}

/* Hover effect */
.avatar-circle:hover {
  transform: scale(5);         /* slightly bigger */
  box-shadow: none;   /* stronger glow */
  border: none;          /* darker green border on hover */
}
